<h3>Page des tweets</h3>

<%# Add a tweet %>
<%= form_tag tweets_path, class: "form-signin", method: :post, remote: true do %>
  <input type="text" name="tweet[content]" />
  <button class="btn btn-sm btn-primary" type="submit">Tweet !</button>
<% end %>


<%# Tweets of followeds %>
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Touits</h6>
  <div id="tweets">
    <%= render partial: "tweets", locals: { tweets: @tweets } %>
  </div>
</div>
