<%# app/assets/views/subscriptions/index.html.erb %>
<h3>Followers & followeds</h3>

<div id="subs">
  <%= render partial: "followeds", locals: { subscription: @subscriptions, unfollowed: current_user.unfollowed } %>
</div>

<hr />

<%= render partial: 'followers' %>


